.video-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f0f0f0;
  color: #333;
  transition: background-color 0.3s ease, color 0.3s ease;
  padding: 1rem;
  position: relative;

  &.dark-mode {
    background-color: #121212;
    color: #fff;

    .mat-slide-toggle-thumb {
      background-color: #90caf9 !important;
    }
  }

  .mode-toggle {
    position: absolute;
    top: 20px;
    right: 20px;

    mat-slide-toggle {
      display: flex;
      align-items: center;

      mat-icon {
        margin-left: 8px;
      }
    }
  }


}


::ng-deep .mat-mdc-slide-toggle.mat-mdc-slide-toggle-checked:not(.mat-disabled) .mdc-switch__shadow {
  background-color: #f0f0f0 !important;
}

::ng-deep .mat-mdc-slide-toggle.mat-mdc-slide-toggle-checked:not(.mat-disabled) .mdc-switch__track::after {
  background-color: #121212 !important;
}

::ng-deep .mat-mdc-slide-toggle .mdc-switch__icons {
  display: none !important;
}

::ng-deep .mat-mdc-slide-toggle:not(.mat-mdc-slide-toggle-checked) .mdc-switch__shadow {
  background-color: #121212 !important; 
}
